@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik+Bubbles&display=swap');
*,
*::after,
*::before {
	padding: 0%;
	margin: 0%;
}
html {
	box-sizing: border-box;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
.logo {
	padding-top: 47px;
	padding-left: 122px;
}
.container {
	height: 1025px;
	background-image: url('sky.jpg');
	color: aliceblue;
}
.nav_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_menu_list {
	display: flex;
	padding-top: 20px;
}
.nav_menu_item {
	padding-top: 20px;
	padding-right: 538px;
}

.nav_menu_link {
	font-family: Istok Web;
	margin-right: 100px;
	font-size: 28px;
	line-height: 24px;
	font-weight: 500;
}

.nav_menu_link#link1 {
	font-weight: 700;
}
.nav_menu_link:hover {
	color: #fff;
}
.header_inner {
	display: flex;
}
.hero_list-title {
	width: 412px;
	height: 264px;
	flex-shrink: 0;
	color: #fff;
	font-family: Kenia;
	font-size: 150px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 115px;
	padding-top: 164px;
}
.hero_list-text {
	padding-top: 175px;
	padding-left: 122px;
	width: 290px;
	height: 63px;
	flex-shrink: 0;
	color: #fff;
	font-family: Istok Web;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.hero_img {
	position: relative;
}

.img-phonee {
	position: absolute;
	padding-top: 27px;
	padding-left: 438px;
}
.kabel {
	position: absolute;
	padding-top: 750px;
	padding-left: 480px;
	width: 350px;
	height: 150px;
}
.content-1 {
	height: 1024px;
	background: #d53005;
}
.Music {
	color: #fff;
	font-family: Karla;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 83px;
	padding-left: 122px;
}
.content-1_part2 {
	display: flex;
	flex-direction: row;
	padding-left: 122px;
	justify-content: center;
	column-gap: 327px;
}
.content-1_but {
	padding-top: 385px;
	display: flex;
	flex-direction: column;
	row-gap: 88px;
}
.button1_content-1 {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: radial-gradient(
		2086.98% 134.85% at 1.57% 7.83%,
		#b13e18 0%,
		#f3501a 100%
	);
	box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.1),
		4px 4px 4px 0px rgba(0, 0, 0, 0.5);
	width: 382px;
	height: 83px;
	color: #fff;
	font-family: Karla;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.button2_content-1 {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: radial-gradient(
		2086.98% 134.85% at 1.57% 7.83%,
		#b13e18 0%,
		#f3501a 100%
	);
	box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.1),
		4px 4px 4px 0px rgba(0, 0, 0, 0.5);
	width: 382px;
	height: 83px;
	color: #fff;
	font-family: Karla;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.content-1_img {
	padding-top: 179px;
	width: 1000px;
	height: 666.5px;
}
.content-2 {
	background: linear-gradient(180deg, #d53005 0%, #000 6.04%);
	height: 1024px;
}
.content-2_intro {
	color: #fff;
	font-family: Karla;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 83px;
	padding-left: 122px;
}
.content-2_text1 {
	padding-top: 358px;
	padding-left: 445px;
	color: #fff;
	font-family: Karla;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 969px;
	height: 72px;
	flex-shrink: 0;
}
.content-3 {
	height: 1024px;
	background: #d53005;
}
.content-3_intro {
	padding-top: 83px;
	padding-left: 122px;
	color: #fff;
	font-family: Karla;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.content-3_main {
	display: flex;
	flex-direction: row;
	column-gap: 210px;
}
.content-3_but {
	display: flex;
	flex-direction: column;
	row-gap: 100px;
	padding-top: 149px;
	padding-left: 110px;
}
.content-3_button1 {
	width: 240px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 30px;
	background: rgba(2, 2, 2, 0.9);
	box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1),
		4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.content-3_button2 {
	width: 240px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 30px;
	border: 1px solid rgba(0, 0, 0, 0.7);
	background: #e3e3e3;
	box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1),
		4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: #000;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.Macbook {
	width: 1168.325px;
	height: 678.922px;
}
h4 {
	padding-left: 25px;
	padding-top: 105px;
	color: #fff;
	font-family: Montserrat;
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.content-3_text {
	padding-top: 17px;
	padding-left: 25px;
	color: #fff;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 431px;
}
.content-3_a {
	color: rgba(4, 4, 4, 0.8);
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: underline;
}
footer {
	background: linear-gradient(180deg, #d53005 0%, #000 4.01%);
	height: 650px;
	color: #fff;
}
.footer-container {
	display: flex;
}
.footer_part1 {
	padding-top: 120px;
	padding-left: 452px;
	display: flex;
}
.foth {
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
li {
	margin-top: 35px;
}
.footer_link {
	flex: 1;
	color: #fff;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: 147px;
}
.footer_part2 {
	padding-top: 76px;
}
.footer_part2-text {
	color: #fff;
	font-family: Kenia;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 138px;
	height: 100px;
	padding-left: 110px;
}
.footer_list {
	display: flex;
	padding-top: 17px;
	padding-left: 110px;
}
.footer_list-item {
	flex: 1;
}
